* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  body {
    background-image: url(../assets/bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  header{
    position: sticky;
    top: 0;
  }
  header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    color: #fff;
  }
  
  header nav a {
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1rem;
    color: #fff;
  }
  header nav a:hover {
    color: #a8a8a7;
  }
  .container-promo {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    text-align: center;
    list-style-position: inside;
  }
  .promo h1,
  li {
    padding: 1rem 0;
  }
  button {
    width: 50%;
    height: 3rem;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 12px;
  }
  #products {
    height: 100vh;
    width: 100%;
padding: 10rem 0;
  }
  .titulo-promo {
    color: #fff;
    text-align: center;

  }
  .card-container-product {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
  }
  
  .card {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .description,
  .product-name {
    text-align: center;
    margin: 1rem 0.2rem;
    font-size: 1rem;
  }
  
  #cadastro {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-container-cadastro {
    background: #200096;
    border-radius: 25px;
    padding: 4rem;
    max-width: 30rem;
  }
  .card-container-cadastro p{
    margin-bottom: 2rem;
    color: #fff;
  }
  .input {
    width: 100%;
    height: 3rem;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 12px;
    background: #FFF;
    color: #000;
    font-weight: 700;
  }
  
  form {
    display: grid;
  }
  
  footer{
    padding: 1rem;
    text-align: center;
    background-color: #000;
    color: #fff;
  }
  